.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* col-span */

.col-auto {
  grid-column: auto;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-full {
  grid-column: 1 / -1;
}

/* grid-row */

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
  grid-template-rows: none;
}


.row-auto {
  grid-row: auto;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}

.row-span-5 {
  grid-row: span 5 / span 5;
}

.row-span-6 {
  grid-row: span 6 / span 6;
}

.row-span-full {
  grid-row: 1 / -1;
}



/* extra small */
@media screen and (max-width: 575px) {}

@media screen and (min-width: 280px) {

  .grid-cols-ssm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-ssm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-ssm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-ssm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-ssm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-ssm-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-ssm-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-ssm-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-ssm-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-ssm-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-ssm-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-ssm-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col-span-ssm */

  .col-auto {
    grid-column: auto;
  }

  .col-span-ssm-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-ssm-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-ssm-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-ssm-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-ssm-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-ssm-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-ssm-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-ssm-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-ssm-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-ssm-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-ssm-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-ssm-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-ssm-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-ssm-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-ssm-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-ssm-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-ssm-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-ssm-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-ssm-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-ssm-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-ssm-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-ssm-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-ssm-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-ssm-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-ssm-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-ssm-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-ssm-full {
    grid-row: 1 / -1;
  }
}


/* Small sm*/
@media screen and (min-width: 576px) {


  .grid-cols-sm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-sm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-sm-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-sm-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-sm-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-sm-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-sm-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-sm-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-sm-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col-span-sm */

  .col-auto {
    grid-column: auto;
  }

  .col-span-sm-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-sm-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-sm-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-sm-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-sm-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-sm-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-sm-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-sm-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-sm-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-sm-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-sm-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-sm-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-sm-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-sm-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-sm-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-sm-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-sm-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-sm-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-sm-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-sm-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-sm-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-sm-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-sm-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-sm-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-sm-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-sm-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-sm-full {
    grid-row: 1 / -1;
  }
}

/* Medium  md*/
@media screen and (min-width: 768px) {


  .grid-cols-md-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-md-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-md-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-md-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-md-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-md-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-md-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-md-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-md-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col-span md */

  .col-auto {
    grid-column: auto;
  }

  .col-span-md-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-md-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-md-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-md-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-md-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-md-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-md-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-md-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-md-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-md-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-md-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-md-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-md-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-md-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-md-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-md-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-md-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-md-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-md-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-md-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-md-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-md-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-md-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-md-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-md-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-md-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-md-full {
    grid-row: 1 / -1;
  }
}

/* large lg*/
@media screen and (min-width: 992px) {

  .grid-cols-lg-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-lg-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-lg-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-lg-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-lg-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-lg-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-lg-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-lg-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-lg-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col span lg */


  .col-auto {
    grid-column: auto;
  }

  .col-span-lg-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-lg-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-lg-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-lg-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-lg-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-lg-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-lg-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-lg-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-lg-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-lg-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-lg-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-lg-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-lg-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-lg-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-lg-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-lg-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-lg-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-lg-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-lg-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-lg-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-lg-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-lg-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-lg-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-lg-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-lg-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-lg-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-lg-full {
    grid-row: 1 / -1;
  }

}

/* X-large xl*/
@media screen and (min-width: 1200px) {

  .grid-cols-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-xl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-xl-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-xl-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-xl-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-xl-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-xl-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-xl-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col-span xl */


  .col-auto {
    grid-column: auto;
  }

  .col-span-xl-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-xl-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-xl-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-xl-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-xl-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-xl-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-xl-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-xl-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-xl-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-xl-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-xl-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-xl-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-xl-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-xl-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-xl-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-xl-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-xl-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-xl-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-xl-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-xl-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-xl-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-xl-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-xl-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-xl-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-xl-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-xl-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-xl-full {
    grid-row: 1 / -1;
  }

}

/* XX-large xxl*/
@media screen and (min-width: 1400px) {

  .grid-cols-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-xxl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-cols-xxl-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-cols-xxl-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .grid-cols-xxl-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .grid-cols-xxl-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .grid-cols-xxl-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .grid-cols-xxl-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  /* col-span xxl */


  .col-auto {
    grid-column: auto;
  }

  .col-span-xxl-1 {
    grid-column: span 1 / span 1;
  }

  .col-span-xxl-2 {
    grid-column: span 2 / span 2;
  }

  .col-span-xxl-3 {
    grid-column: span 3 / span 3;
  }

  .col-span-xxl-4 {
    grid-column: span 4 / span 4;
  }

  .col-span-xxl-5 {
    grid-column: span 5 / span 5;
  }

  .col-span-xxl-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-xxl-7 {
    grid-column: span 7 / span 7;
  }

  .col-span-xxl-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-xxl-9 {
    grid-column: span 9 / span 9;
  }

  .col-span-xxl-10 {
    grid-column: span 10 / span 10;
  }

  .col-span-xxl-11 {
    grid-column: span 11 / span 11;
  }

  .col-span-xxl-12 {
    grid-column: span 12 / span 12;
  }

  .col-span-xxl-full {
    grid-column: 1 / -1;
  }


  /* grid-row */

  .grid-rows-xxl-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .grid-rows-xxl-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-xxl-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-xxl-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-xxl-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .grid-rows-xxl-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-xxl-none {
    grid-template-rows: none;
  }


  .row-auto {
    grid-row: auto;
  }

  .row-span-xxl-1 {
    grid-row: span 1 / span 1;
  }

  .row-span-xxl-2 {
    grid-row: span 2 / span 2;
  }

  .row-span-xxl-3 {
    grid-row: span 3 / span 3;
  }

  .row-span-xxl-4 {
    grid-row: span 4 / span 4;
  }

  .row-span-xxl-5 {
    grid-row: span 5 / span 5;
  }

  .row-span-xxl-6 {
    grid-row: span 6 / span 6;
  }

  .row-span-xxl-full {
    grid-row: 1 / -1;
  }
}