.main_introduce{
    background: rgb(249, 245, 241);
    padding: 3rem 0;
    color: var(--black-01);
    font-size: 1.6rem;
}

.main_introduce span{
    font-weight: 600;
    text-transform: uppercase;
}